.review-page {
  background-color: #ffffff;
  width: 100%;
  min-width: 1940px;
  min-height: 1132px;
  position: relative;
}

.review-page .navigation-link {
  position: absolute;
  top: 42px;
  left: 54px;
  width: 798px;
  height: 33px;
  display: flex;
  gap: 15px;
}

.review-page .vector {
  width: 34px;
  height: 28px;
}

.review-page .account-order {
  margin-top: 1px;
  width: 747px;
  height: 32px;
  font-family: var(--heading-h6-font-family);
  font-weight: var(--heading-h6-font-weight);
  color: var(--hard-primary);
  font-size: var(--heading-h6-font-size);
  letter-spacing: var(--heading-h6-letter-spacing);
  line-height: var(--heading-h6-line-height);
  white-space: nowrap;
  font-style: var(--heading-h6-font-style);
}

.review-page .product-selected {
  position: absolute;
  top: 167px;
  left: 59px;
  width: 687px;
  height: 148px;
}

.review-page .rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 683px;
  height: 148px;
  background-color: var(--surface);
  border-radius: 8px;
  border: 1px solid;
  border-color: #000000;
}

.review-page .text-wrapper {
  position: absolute;
  top: 26px;
  left: 189px;
  font-family: var(--body-XL-600-font-family);
  font-weight: var(--body-XL-600-font-weight);
  color: #000000;
  font-size: var(--body-XL-600-font-size);
  letter-spacing: var(--body-XL-600-letter-spacing);
  line-height: var(--body-XL-600-line-height);
  white-space: nowrap;
  font-style: var(--body-XL-600-font-style);
}

.review-page .div {
  position: absolute;
  top: 67px;
  left: 189px;
  font-family: var(--body-XL-400-font-family);
  font-weight: var(--body-XL-400-font-weight);
  font-style: var(--body-XL-400-font-style);
  color: #000000;
  font-size: var(--body-XL-400-font-size);
  letter-spacing: var(--body-XL-400-letter-spacing);
  line-height: var(--body-XL-400-line-height);
  white-space: nowrap;
}

.review-page .binh-trang-tri-kham {
  position: absolute;
  top: 21px;
  left: 33px;
  width: 113px;
  height: 113px;
  aspect-ratio: 1;
  object-fit: cover;
}

.review-page .product {
  position: absolute;
  top: 335px;
  left: 60px;
  width: 683px;
  height: 148px;
  display: flex;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid;
  border-color: #000000;
}

.review-page .group {
  margin-top: 21px;
  width: 630px;
  height: 113px;
  margin-left: 33px;
  position: relative;
}

.review-page .p {
  position: absolute;
  top: 5px;
  left: 156px;
  font-family: var(--body-XL-600-font-family);
  font-weight: var(--body-XL-600-font-weight);
  color: #000000;
  font-size: var(--body-XL-600-font-size);
  letter-spacing: var(--body-XL-600-letter-spacing);
  line-height: var(--body-XL-600-line-height);
  white-space: nowrap;
  font-style: var(--body-XL-600-font-style);
}

.review-page .text-wrapper-2 {
  position: absolute;
  top: 46px;
  left: 156px;
  font-family: var(--body-XL-400-font-family);
  font-weight: var(--body-XL-400-font-weight);
  font-style: var(--body-XL-400-font-style);
  color: #000000;
  font-size: var(--body-XL-400-font-size);
  letter-spacing: var(--body-XL-400-letter-spacing);
  line-height: var(--body-XL-400-line-height);
  white-space: nowrap;
}

.review-page .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 113px;
  height: 113px;
  aspect-ratio: 1;
  object-fit: cover;
}

.review-page .group-wrapper {
  position: absolute;
  top: 503px;
  left: 60px;
  width: 683px;
  height: 148px;
  display: flex;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid;
  border-color: #000000;
}

.review-page .text-wrapper-3 {
  position: absolute;
  top: 111px;
  left: 289px;
  font-family: var(--body-XXL-600-font-family);
  font-weight: var(--body-XXL-600-font-weight);
  color: var(--hard-primary);
  font-size: var(--body-XXL-600-font-size);
  letter-spacing: var(--body-XXL-600-letter-spacing);
  line-height: var(--body-XXL-600-line-height);
  white-space: nowrap;
  font-style: var(--body-XXL-600-font-style);
}

.review-page .text-wrapper-4 {
  position: absolute;
  top: 101px;
  left: 1277px;
  font-family: var(--body-XXL-600-font-family);
  font-weight: var(--body-XXL-600-font-weight);
  color: var(--hard-primary);
  font-size: var(--body-XXL-600-font-size);
  letter-spacing: var(--body-XXL-600-letter-spacing);
  line-height: var(--body-XXL-600-line-height);
  white-space: nowrap;
  font-style: var(--body-XXL-600-font-style);
}

.review-page .review-content-group {
  position: absolute;
  top: 167px;
  left: 796px;
  width: 1104px;
  height: 911px;
  aspect-ratio: 1.2;
}

.review-page .fame-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 1091px;
  height: 912px;
}

.review-page .text-wrapper-5 {
  position: absolute;
  top: 48px;
  left: 74px;
  font-family: var(--body-XL-600-font-family);
  font-weight: var(--body-XL-600-font-weight);
  color: #000000;
  font-size: var(--body-XL-600-font-size);
  letter-spacing: var(--body-XL-600-letter-spacing);
  line-height: var(--body-XL-600-line-height);
  white-space: nowrap;
  font-style: var(--body-XL-600-font-style);
}

.review-page .text-wrapper-6 {
  position: absolute;
  top: 332px;
  left: 74px;
  font-family: var(--body-XL-600-font-family);
  font-weight: var(--body-XL-600-font-weight);
  color: #000000;
  font-size: var(--body-XL-600-font-size);
  letter-spacing: var(--body-XL-600-letter-spacing);
  line-height: var(--body-XL-600-line-height);
  white-space: nowrap;
  font-style: var(--body-XL-600-font-style);
}

.review-page .text-wrapper-7 {
  position: absolute;
  top: 98px;
  left: 73px;
  font-family: var(--body-XL-600-font-family);
  font-weight: var(--body-XL-600-font-weight);
  color: #000000;
  font-size: var(--body-XL-600-font-size);
  letter-spacing: var(--body-XL-600-letter-spacing);
  line-height: var(--body-XL-600-line-height);
  white-space: nowrap;
  font-style: var(--body-XL-600-font-style);
}

.review-page .text-wrapper-8 {
  position: absolute;
  top: 138px;
  left: 245px;
  font-family: var(--body-XL-600-font-family);
  font-weight: var(--body-XL-600-font-weight);
  color: #000000;
  font-size: var(--body-XL-600-font-size);
  letter-spacing: var(--body-XL-600-letter-spacing);
  line-height: var(--body-XL-600-line-height);
  white-space: nowrap;
  font-style: var(--body-XL-600-font-style);
}

.review-page .text-wrapper-9 {
  position: absolute;
  top: 188px;
  left: 245px;
  font-family: var(--body-XL-600-font-family);
  font-weight: var(--body-XL-600-font-weight);
  color: #000000;
  font-size: var(--body-XL-600-font-size);
  letter-spacing: var(--body-XL-600-letter-spacing);
  line-height: var(--body-XL-600-line-height);
  white-space: nowrap;
  font-style: var(--body-XL-600-font-style);
}

.review-page .text-wrapper-10 {
  position: absolute;
  top: 238px;
  left: 245px;
  font-family: var(--body-XL-600-font-family);
  font-weight: var(--body-XL-600-font-weight);
  color: #000000;
  font-size: var(--body-XL-600-font-size);
  letter-spacing: var(--body-XL-600-letter-spacing);
  line-height: var(--body-XL-600-line-height);
  white-space: nowrap;
  font-style: var(--body-XL-600-font-style);
}

.review-page .text-wrapper-11 {
  position: absolute;
  top: 288px;
  left: 243px;
  font-family: var(--body-XL-600-font-family);
  font-weight: var(--body-XL-600-font-weight);
  color: #000000;
  font-size: var(--body-XL-600-font-size);
  letter-spacing: var(--body-XL-600-letter-spacing);
  line-height: var(--body-XL-600-line-height);
  white-space: nowrap;
  font-style: var(--body-XL-600-font-style);
}

.review-page .submit-button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 24px;
  position: absolute;
  top: 800px;
  left: 950px;
  background-color: var(--hard-primary);
  border-radius: 35px;
  box-shadow: inset 0px 2px 4px #0000001a;
}

.review-page .label {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--button-medium-font-family);
  font-weight: var(--button-medium-font-weight);
  color: #ffffff;
  font-size: var(--button-medium-font-size);
  letter-spacing: var(--button-medium-letter-spacing);
  line-height: var(--button-medium-line-height);
  white-space: nowrap;
  font-style: var(--button-medium-font-style);
}

.review-page .star-rate {
  position: absolute;
  top: 38px;
  left: 376px;
  width: 264px;
  height: 40px;
  display: flex;
  gap: 18px;
}

.review-page .star {
  width: 38.04px;
  height: 36.18px;
  margin-left: 1.0px;
  aspect-ratio: 1;
}

.review-page .star-2 {
  width: 38.04px;
  height: 36.18px;
  aspect-ratio: 1;
}

.review-page .star-size {
  position: absolute;
  top: 120px;
  left: 376px;
  width: 264px;
  height: 40px;
  display: flex;
  gap: 18px;
}

.review-page .star-quantity {
  position: absolute;
  top: 178px;
  left: 376px;
  width: 264px;
  height: 40px;
  display: flex;
  gap: 18px;
}

.review-page .star-material {
  position: absolute;
  top: 228px;
  left: 376px;
  width: 264px;
  height: 40px;
  display: flex;
  gap: 18px;
}

.review-page .star-color {
  position: absolute;
  top: 278px;
  left: 376px;
  width: 264px;
  height: 40px;
  display: flex;
  gap: 18px;
}

.review-page .content-review {
  position: absolute;
  top: 382px;
  left: 73px;
  width: 567px;
  height: 439px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid;
  border-color: var(--surface-dim);
}

.review-page .upload-image {
  position: absolute;
  top: 113px;
  left: 732px;
  width: 302px;
  height: 232px;
}

.review-page .div-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 232px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid;
  border-color: var(--surface-dim);
  aspect-ratio: 1.29;
}

.review-page .text-wrapper-12 {
  position: absolute;
  top: 177px;
  left: 81px;
  font-family: var(--body-large-400-font-family);
  font-weight: var(--body-large-400-font-weight);
  font-style: var(--body-large-400-font-style);
  color: #000000;
  font-size: var(--body-large-400-font-size);
  letter-spacing: var(--body-large-400-letter-spacing);
  line-height: var(--body-large-400-line-height);
  text-decoration: underline;
  white-space: nowrap;
}

.review-page .upload-images-icon {
  position: absolute;
  top: 26px;
  left: 84px;
  width: 140px;
  height: 140px;
  aspect-ratio: 1;
}

.review-page .upload-video {
  position: absolute;
  top: 456px;
  left: 732px;
  width: 302px;
  height: 232px;
}

.review-page .upload-video-icon {
  position: absolute;
  top: 0;
  left: 68px;
  width: 175px;
  height: 175px;
  aspect-ratio: 1;
  object-fit: cover;
}

.review-page .text-wrapper-13 {
  position: absolute;
  top: 170px;
  left: 81px;
  font-family: var(--body-large-400-font-family);
  font-weight: var(--body-large-400-font-weight);
  font-style: var(--body-large-400-font-style);
  color: #000000;
  font-size: var(--body-large-400-font-size);
  letter-spacing: var(--body-large-400-letter-spacing);
  line-height: var(--body-large-400-line-height);
  text-decoration: underline;
  white-space: nowrap;
}
