:root {
  --primary: rgba(22, 176, 19, 1);
  --soft-primary: rgba(47, 225, 44, 1);
  --hard-primary: rgba(14, 110, 12, 1);
  --warning: rgba(249, 125, 26, 1);
  --danger: rgba(237, 26, 41, 1);
  --surface-dim: rgba(89, 89, 89, 1);
  --surface: rgba(194, 194, 194, 1);
  --secondary: rgba(235, 240, 234, 1);
  --heading-hero-font-family: "Poppins", Helvetica;
  --heading-hero-font-weight: 700;
  --heading-hero-font-size: 96px;
  --heading-hero-letter-spacing: -1.92px;
  --heading-hero-line-height: 96px;
  --heading-hero-font-style: normal;
  --heading-h1-font-family: "Poppins", Helvetica;
  --heading-h1-font-weight: 700;
  --heading-h1-font-size: 80px;
  --heading-h1-letter-spacing: -3px;
  --heading-h1-line-height: 84px;
  --heading-h1-font-style: normal;
  --heading-h2-font-family: "Poppins", Helvetica;
  --heading-h2-font-weight: 700;
  --heading-h2-font-size: 72px;
  --heading-h2-letter-spacing: -2px;
  --heading-h2-line-height: 76px;
  --heading-h2-font-style: normal;
  --heading-h3-font-family: "Poppins", Helvetica;
  --heading-h3-font-weight: 700;
  --heading-h3-font-size: 54px;
  --heading-h3-letter-spacing: -1px;
  --heading-h3-line-height: 58px;
  --heading-h3-font-style: normal;
  --heading-h4-font-family: "Poppins", Helvetica;
  --heading-h4-font-weight: 700;
  --heading-h4-font-size: 40px;
  --heading-h4-letter-spacing: -0.4000000059604645px;
  --heading-h4-line-height: 44px;
  --heading-h4-font-style: normal;
  --heading-h5-font-family: "Poppins", Helvetica;
  --heading-h5-font-weight: 700;
  --heading-h5-font-size: 34px;
  --heading-h5-letter-spacing: -0.6000000238418579px;
  --heading-h5-line-height: 38px;
  --heading-h5-font-style: normal;
  --heading-h6-font-family: "Poppins", Helvetica;
  --heading-h6-font-weight: 700;
  --heading-h6-font-size: 28px;
  --heading-h6-letter-spacing: -0.6000000238418579px;
  --heading-h6-line-height: 32px;
  --heading-h6-font-style: normal;
  --heading-h7-font-family: "Poppins", Helvetica;
  --heading-h7-font-weight: 700;
  --heading-h7-font-size: 20px;
  --heading-h7-letter-spacing: 0px;
  --heading-h7-line-height: 28px;
  --heading-h7-font-style: normal;
  --body-XXL-400-font-family: "Poppins", Helvetica;
  --body-XXL-400-font-weight: 400;
  --body-XXL-400-font-size: 24px;
  --body-XXL-400-letter-spacing: 0px;
  --body-XXL-400-line-height: 150%;
  --body-XXL-400-font-style: normal;
  --body-XXL-500-font-family: "Poppins", Helvetica;
  --body-XXL-500-font-weight: 500;
  --body-XXL-500-font-size: 24px;
  --body-XXL-500-letter-spacing: 0px;
  --body-XXL-500-line-height: 150%;
  --body-XXL-500-font-style: normal;
  --body-XXL-600-font-family: "Poppins", Helvetica;
  --body-XXL-600-font-weight: 600;
  --body-XXL-600-font-size: 24px;
  --body-XXL-600-letter-spacing: 0px;
  --body-XXL-600-line-height: 150%;
  --body-XXL-600-font-style: normal;
  --body-XL-400-font-family: "Poppins", Helvetica;
  --body-XL-400-font-weight: 400;
  --body-XL-400-font-size: 20px;
  --body-XL-400-letter-spacing: 0px;
  --body-XL-400-line-height: 150%;
  --body-XL-400-font-style: normal;
  --body-XL-500-font-family: "Poppins", Helvetica;
  --body-XL-500-font-weight: 500;
  --body-XL-500-font-size: 20px;
  --body-XL-500-letter-spacing: 0px;
  --body-XL-500-line-height: 150%;
  --body-XL-500-font-style: normal;
  --body-XL-600-font-family: "Poppins", Helvetica;
  --body-XL-600-font-weight: 600;
  --body-XL-600-font-size: 20px;
  --body-XL-600-letter-spacing: 0px;
  --body-XL-600-line-height: 150%;
  --body-XL-600-font-style: normal;
  --body-large-400-font-family: "Poppins", Helvetica;
  --body-large-400-font-weight: 400;
  --body-large-400-font-size: 18px;
  --body-large-400-letter-spacing: 0px;
  --body-large-400-line-height: 150%;
  --body-large-400-font-style: normal;
  --body-large-500-font-family: "Poppins", Helvetica;
  --body-large-500-font-weight: 500;
  --body-large-500-font-size: 18px;
  --body-large-500-letter-spacing: 0px;
  --body-large-500-line-height: 150%;
  --body-large-500-font-style: normal;
  --body-large-600-font-family: "Poppins", Helvetica;
  --body-large-600-font-weight: 600;
  --body-large-600-font-size: 18px;
  --body-large-600-letter-spacing: 0px;
  --body-large-600-line-height: 150%;
  --body-large-600-font-style: normal;
  --body-medium-400-font-family: "Poppins", Helvetica;
  --body-medium-400-font-weight: 400;
  --body-medium-400-font-size: 16px;
  --body-medium-400-letter-spacing: 0px;
  --body-medium-400-line-height: 150%;
  --body-medium-400-font-style: normal;
  --body-medium-500-font-family: "Poppins", Helvetica;
  --body-medium-500-font-weight: 500;
  --body-medium-500-font-size: 16px;
  --body-medium-500-letter-spacing: 0px;
  --body-medium-500-line-height: 150%;
  --body-medium-500-font-style: normal;
  --body-medium-600-font-family: "Poppins", Helvetica;
  --body-medium-600-font-weight: 600;
  --body-medium-600-font-size: 16px;
  --body-medium-600-letter-spacing: 0px;
  --body-medium-600-line-height: 120.00000476837158%;
  --body-medium-600-font-style: normal;
  --body-small-400-font-family: "Poppins", Helvetica;
  --body-small-400-font-weight: 400;
  --body-small-400-font-size: 14px;
  --body-small-400-letter-spacing: 0px;
  --body-small-400-line-height: 150%;
  --body-small-400-font-style: normal;
  --body-small-500-font-family: "Poppins", Helvetica;
  --body-small-500-font-weight: 500;
  --body-small-500-font-size: 14px;
  --body-small-500-letter-spacing: 0px;
  --body-small-500-line-height: 150%;
  --body-small-500-font-style: normal;
  --body-small-600-font-family: "Poppins", Helvetica;
  --body-small-600-font-weight: 600;
  --body-small-600-font-size: 14px;
  --body-small-600-letter-spacing: 0px;
  --body-small-600-line-height: 120.00000476837158%;
  --body-small-600-font-style: normal;
  --body-tiny-400-font-family: "Poppins", Helvetica;
  --body-tiny-400-font-weight: 400;
  --body-tiny-400-font-size: 12px;
  --body-tiny-400-letter-spacing: 0px;
  --body-tiny-400-line-height: 129.99999523162842%;
  --body-tiny-400-font-style: normal;
  --body-tiny-500-font-family: "Poppins", Helvetica;
  --body-tiny-500-font-weight: 500;
  --body-tiny-500-font-size: 12px;
  --body-tiny-500-letter-spacing: 0px;
  --body-tiny-500-line-height: 129.99999523162842%;
  --body-tiny-500-font-style: normal;
  --body-tiny-600-font-family: "Poppins", Helvetica;
  --body-tiny-600-font-weight: 600;
  --body-tiny-600-font-size: 12px;
  --body-tiny-600-letter-spacing: 0px;
  --body-tiny-600-line-height: 129.99999523162842%;
  --body-tiny-600-font-style: normal;
  --button-XL-font-family: "Poppins", Helvetica;
  --button-XL-font-weight: 600;
  --button-XL-font-size: 26px;
  --button-XL-letter-spacing: 0px;
  --button-XL-line-height: 38px;
  --button-XL-font-style: normal;
  --button-large-font-family: "Poppins", Helvetica;
  --button-large-font-weight: 600;
  --button-large-font-size: 22px;
  --button-large-letter-spacing: 0px;
  --button-large-line-height: 34px;
  --button-large-font-style: normal;
  --button-medium-font-family: "Inter", Helvetica;
  --button-medium-font-weight: 600;
  --button-medium-font-size: 18px;
  --button-medium-letter-spacing: -0.4000000059604645px;
  --button-medium-line-height: 32px;
  --button-medium-font-style: normal;
  --button-small-font-family: "Poppins", Helvetica;
  --button-small-font-weight: 600;
  --button-small-font-size: 16px;
  --button-small-letter-spacing: -0.4000000059604645px;
  --button-small-line-height: 28px;
  --button-small-font-style: normal;
  --button-tiny-font-family: "Poppins", Helvetica;
  --button-tiny-font-weight: 600;
  --button-tiny-font-size: 12px;
  --button-tiny-letter-spacing: 0px;
  --button-tiny-line-height: 24px;
  --button-tiny-font-style: normal;
  --caption-XL-font-family: "Poppins", Helvetica;
  --caption-XL-font-weight: 400;
  --caption-XL-font-size: 26px;
  --caption-XL-letter-spacing: 0px;
  --caption-XL-line-height: 38px;
  --caption-XL-font-style: normal;
  --caption-large-font-family: "Poppins", Helvetica;
  --caption-large-font-weight: 400;
  --caption-large-font-size: 22px;
  --caption-large-letter-spacing: 0px;
  --caption-large-line-height: 34px;
  --caption-large-font-style: normal;
  --caption-medium-font-family: "Poppins", Helvetica;
  --caption-medium-font-weight: 400;
  --caption-medium-font-size: 18px;
  --caption-medium-letter-spacing: -0.4000000059604645px;
  --caption-medium-line-height: 32px;
  --caption-medium-font-style: normal;
  --caption-small-font-family: "Poppins", Helvetica;
  --caption-small-font-weight: 400;
  --caption-small-font-size: 16px;
  --caption-small-letter-spacing: -0.4000000059604645px;
  --caption-small-line-height: 28px;
  --caption-small-font-style: normal;
  --caption-tiny-font-family: "Poppins", Helvetica;
  --caption-tiny-font-weight: 400;
  --caption-tiny-font-size: 12px;
  --caption-tiny-letter-spacing: 0px;
  --caption-tiny-line-height: 24px;
  --caption-tiny-font-style: normal;
  --price-discount-font-family: "Poppins", Helvetica;
  --price-discount-font-weight: 400;
  --price-discount-font-size: 18px;
  --price-discount-letter-spacing: 0px;
  --price-discount-line-height: 150%;
  --price-discount-font-style: normal;
  --colors-grays-white: rgba(255, 255, 255, 1);
}
